ul, ul a{
	color: pink;
}

ul.email a {
   color: green;
}


img {
  margin-bottom: 20px;
}

<SCRIPT>
var speed=300;
function m()
{
whattext.innerText="HoYoung" 
setTimeout("e()",speed)
}
function e()
{
whattext.innerText=""
setTimeout("m()",speed)
}
</SCRIPT>
<BODY onload=m()>
<DIV id=whattext 
style="FONT-SIZE: 34pt; COLOR: blue"></DIV>
</SCRIPT></BODY></HTML>